<h1> show profile here </h1>


	<%= @profile.first_name %><br>
	<%= @profile.last_name %><br>
	<%= @profile.gender %><br>
	<%= @profile.language %><br>
	<%= @profile.currency %><br>
	<%= @profile.description %><br>
	<%= @profile.address %><br>
	<%= @profile.phone_number %><br>
	<%= @profile.image %><br>
	
