<%= button_to "Home", home_path, method: :get %>
<h1> this is the index of listing </h1>

<table class="table">
	<tr>
		<th> City </th>
		<th> Address </th>
		<th> Description </th>
		<th> Availability </th>
		<th> Max Occupants </th>
		<th> Price </th>
		<th> Number of Bathrooms </th>
		<th> Number of Bedrooms </th>
	</tr>

	<% @listing.each do |listing| %> 
	<tr>
		<td><%= listing.city %></td>
		<td><%= listing.address %></td>
		<td><%= listing.description %></td>
		<td><%= listing.availability %></td>
		<td><%= listing.max_occupants %></td>
		<td><%= listing.price %></td>
		<td><%= listing.number_of_bedrooms %></td>
		<td><%= listing.number_of_bathrooms %></td>
	</tr>
	<% end %>
</table>
<%= will_paginate @listing, renderer: BootstrapPagination::Rails %>