


<div class = "row">
<h1> This is the index of listing </h1>
	<div class="col-md-4" class="panel-body" >
		<h3> Filter your search here </h3>
		<div>	
			<%= form_tag listings_path, method: :get do %>
			<p> City </p>
			<%= text_field_tag :city, params[:city] %>
			<p> Max Occupants </p>
			<%= number_field_tag :occupants, params[:occupants] %>
			<p>Bedrooms</p>
			<%= number_field_tag :bedrooms, params[:bedrooms] %>
			<p>Bathrooms</p>				
			<%= number_field_tag :bathrooms, params[:bathrooms] %>
			<p> Min Max Price </p>
			<%= number_field_tag :min_price, params[:min_price] %>
			<%= number_field_tag :max_price, params[:max_price] %>
			<%= submit_tag "Advance Search Here", name: nil %>
			<% end %>
		</div>	
	</div> 	



	<!--  __________________________________HALF PAGE BREAK_________________________________________ -->


	<div class="col-md-8" >
		<table class="table">
			<tr>
			<th> </th>
				<th> City </th>
				<th> Address </th>
				<th> Description </th>
				<th> Availability </th>
				<th> Max Occupants </th>
				<th> Price </th>
				<th> Actions <th>
			</tr>

			<% @listing.each do |listing| %> 
				<tr>
					<td><%= link_to image_tag(listing.image_url(:thumb).to_s), listing_path(listing) %></td>
					<td><%= listing.city %></td>
					<td><%= listing.address %></td>
					<td><%= listing.description %></td>
					<td><%= bool_to_icon(listing.availability) %></td>
					<td><%= listing.max_occupants %></td>
					<td><%= "$#{listing.price}" %></td>

					<td><%= link_to 'Show', listing_path(listing) %></td>
					<td><%= link_to 'Edit', edit_listing_path(listing) %></td>
					<td><%= link_to 'Delete', listing_path(listing), method: "delete", data: {confirm: 'Are you sure?'} %></td>
				</tr>
			<% end %>
		</table>
		<%= will_paginate @listing, renderer: BootstrapPagination::Rails %>
	</div>
<div>