<%= button_to "Back", listings_path, method: :get %>
<h1> Listing Unit </h1>


	
	<%= "City :" + @listing.city %> <br>
	<%= "Address :" + @listing.address %> <br>
	<%= "Description :" + @listing.description %> <br>
	<%= "Availability :" + "#{@listing.availability}" %> <br>
	<%= "Max Occupants :" + "#{@listing.max_occupants}" %> <br>
	<%= "Price :" + "#{@listing.price}" %> <br>
	<%= "Number of bedrooms" + "#{@listing.number_of_bedrooms}" %> <br>
	<%= "Nummber of bathrooms" + "#{@listing.number_of_bathrooms}" %> <br>


	<%= link_to "Book Now", new_reservation_path(listing_id: @listing.id, listing_price: @listing.price) %>